.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
  color: rgba(28, 43, 53, 1);
}

.cart h3 {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.cart p {
  font-size: 17px;
  margin-bottom: 25px;
}

.cart .grnd-total {
  font-size: 21px;
  margin-bottom: 50px;
  font-weight: bold;
}