.header {
  height: 80px;
  background-color: #1C2B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}

.header a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  margin-left: 20px;
  font-family: 'Lato';
  font-size: 17px;
}

.header a:hover {
  color: orange;
}